{% assign knowledge_url = sitemarkers['Knowledge'].url %}
{% assign createcase_url = sitemarkers['Create Case'].url %}
{% assign contactus_url = sitemarkers['Contact Us'].url %}

<footer class="container custom-footer">
  <div class="row">
    <small>
      &copy; 2017 Wavetronix LLC
      <a href="#">Careers</a>
      <a href="#">Legal</a>
    </small>
  </div>
</footer>