{% assign forums_sm = sitemarkers["Forums"] %}
{% assign blogs_sm = sitemarkers['Blog Home'] %}
{% assign ideas_sm = sitemarkers["Ideas"] %}
{% editable snippets 'Head/Fonts'%}

{% if user %}
  {% fetchxml test_query %}
      <fetch top="10" >
        <entity name="opportunity" >
          <attribute name="new_weightrevenue" />
          <attribute name="opportunityid" />
          <attribute name="estimatedclosedate" />
          <attribute name="name" />
          <filter type="and" >
            <condition attribute="accountidname" operator="eq" value="{{user.parentcustomerid.name}}" />
          </filter>
        </entity>
      </fetch>
  {% endfetchxml %}
  {% assign Opportunities = test_query.results.entities %}
{% endif %}




<section class="page_section section-landing">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-landing-heading">{% editable snippets 'Home/Title' default: 'Wavetronix Portal' %}</h1>
        <p class="section-landing-heading">{% editable snippets 'Home/SubTitle' default: 'Smarter Traffic Starts Here' %}</p>
      </div>
    </div>
  </div>
  <div class="layer_down">&nbsp;</div>
</section>
<section class="page_section section-knowledge">
  <div class="layer_up">&nbsp;</div>
  <div class="container">
    <div class="col-md-12 content-home">
      <div class="tech-support-blurb">
        <h2>Tech Support</h2>
        <p>Our goal is to offer superior support to match our superior products. We believe in our products and will stand with you through any issues you may face with the best possible technical support.</p>
        <a href="/support" class="btn btn-primary">Click here for help</a>
      </div>
    </div>
    
    <div class="col-md-6 content-home">
        <h2>{% editable snippets "Home/RecentOrdersHeading" default: resx["Recent_Orders"] %}</h2>
          <p>open opportunities here</p>
      </div>
      
    {% if Opportunities %}    
      <div class="col-md-6 content-home">
        <h2>{% editable snippets "Home/OpenOpportunitiesHeading" default: resx["Open_Opportunities"] %}</h2>
          {% for item in Opportunities %}
              <a href="/managed-opportunities/opportunity-details/?id={{ item.opportunityid }}" class="details-link has-tooltip" data-toggle="tooltip" title="View Details">{{ item.name }}</a>
          {% endfor %}
      </div>
    {% endif %}
    
    <div class="col-md-12">
      <hr/>
    </div>
    <div class="col-md-12 content-home">
      <h2>{% editable snippets "Home/MostPopularHeading" default: resx["Most_Popular"] %}</h2>
      {% include 'Knowledge Management - Most Popular Articles' showdescription: true %}
    </div>

  </div>
</section>

