
{% block main %}
  <div style="height: 300px; background: #54A5DB; margin: 0 0 24px; text-align: center; padding-top: 91px;">
    <h1 style="color: white;">Knowledge Base</h1>
    <section class="page_section section-landing-{{ current_page }} color-inverse">
      <div class="container">
        <div class="row ">
          <div class="col-md-12 text-center">
            {% include 'Search' %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  {% include 'Page Copy' %}
  {% assign category_url = sitemarkers['Category'].url %}
  {% assign count = count | default: 0 %}
  {% assign categories = knowledge.categories | top_level: count %}
  {% assign popular_articles = knowledge.articles \| top: 100, en-US %}
    
  {% if categories %}
    <div class="list-group unstyled">
    {% for category in categories %}
      {% assign ct = category.title | downcase %}
      <a href="{{ category_url | add_query: 'id', category.categorynumber }}" class="list-group-item">
        {{ category.title }}        
      </a>
      {% if popular_articles %}
        <div class="list-group">
        {% for article in popular_articles %}
          {% assign ak = article.keywords | downcase %}
          {% if ct contains ak %}
            {{article.title}}          
          {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
    </div>
  {% endif %}
  </div>
{% endblock %}